body {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;
    position: relative;

}

.logo-clip {
    height: 600px;
    position: absolute;
    clip-path: inset(25% 0% 25% 0);
    right: 250px;
    opacity: 0.3
}